body {
    font-family: Hack, monospace;
}

.profile-img {
    width: 250px;
}

.profile-img:hover {
    opacity: 70%;
}

.main {
    background: rgb(231, 231, 231);
}

h1:hover {
    opacity: 70%;
}

.short {
    color: rgb(94, 94, 94);
}

.description {
    font-size: 15px;
}

.portfolio {
    border-left: 1px solid grey;
    padding-left: 5px;
}